* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dashed;


}

root {

    --header-light: #00ffff;
    --header-dark: #ffa500;

}

body {
    height: 100%;
}

/*header*/
header {
    min-width: 2000px;
    /*i tried using var but failed*/
    background-color: cyan;
    padding: 3rem;

}

.header-container {
    display: flex;
    justify-content: center;

    div {
        padding: 1rem;
        min-height: 40px;
        background-color: orange;
        flex-grow: 1;
        text-align: center;



    }
}

/*jumbotron*/
.jumbotron-container {
    min-height: 500px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        min-height: 400px;
        min-width: 900px;
        background-color: rgb(197, 29, 133);

    }
}

.invite_only {
    min-height: 600px;
    min-width: 100%;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_container {
    min-height: 500px;
    min-width: 500px;
    background-color: pink;
}

.img_container {
    min-height: 500px;
    min-width: 700px;
    background-color: rgb(92, 178, 232);

}